@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL  */
#unccd-logo {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 5em;
}
.overlay {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
}
.overlay-arrow {
  transform: scale(4);
  opacity: 0.5;
}
.overlay-arrow-disabled {
  transform: scale(4);
  opacity: 0.2;
}
.overlay-portrait-image {
  max-width: 100%;
}
section {
  padding: 0 5em;
  min-height: 100vh;
   
}
.panel {
  position: relative;
  z-index: 5;
  min-height: 100vh;
}
.panel-fixed {
  z-index: 1;
}
.panel-inner {
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;

}
.panel-fixed .panel-inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.panel-fixed-tall .panel-inner {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.panel-taller {
  position: relative ;
  z-index: 5;
}

.close-icon {
  min-width: 32px;
  min-height: 32px;
}
iframe {
  aspect-ratio: 16 / 9;
  width: 100%; /* change this to a fixed width, or create a container with a width. */
  height: 100%;
}
/*  LANDING */
.landing-background {
  background: url('../../static/images/landing-background.jpg') no-repeat center center;
}

/* PORTRAIT-CAROUSEL */
.carousel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-image-wrapper {
  padding-top: 100%; /* Maintain a square aspect ratio */
  position: relative;
  overflow: hidden;
  margin: 0.5em;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%); /* Apply black and white effect */
  transition: filter 0.3s;
}

/*  DESERT  */
.desert-logo {
  background: url("../../static/images/stories.jpg") no-repeat center center;
}

/* VideoExhibition */
.video-thumbnail-wrapper {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.video-thumbnail-wrapper .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: scale(5);
  opacity: 0.6;
  transition: all 0.5s ease;
}
.video-thumbnail-wrapper:hover .play-button {
  transform: scale(5);
  opacity: 9;
}
.video-thumbnail-wrapper .video-thumbnail {
  transition: all 0.5s ease;
}
.video-thumbnail-wrapper:hover .video-thumbnail {
  transform: scale(1.05);
}

/* campaign toolkit */
.campaign-toolkit-background {
  background: url("../../static/images/campaign-toolkit.jpg") no-repeat left center;
   
}

/* footer */
 
.event-wrapper {
  width: 391px !important;
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 1px;
} 
.event-wrapper:hover {
  padding-left: 3em;
}
.event-1 {
  background: url("../../static/events/event-1.png") no-repeat left center;
}
.event-2 {
  background: url("../../static/events/event-2.png") no-repeat left center;
}
.event-3 {
  background: url("../../static/events/event-3.png") no-repeat left center;
}
.copywright {
  min-height: unset;
  padding: 0 5em;
}
@media only screen and (min-width: 0px) and (max-width: 640px) {
  section {
    padding: 0 1em;
  }
  .copywright {
    padding: 0 1em;
  }
  .event-wrapper {
    width: 90vw !important;
  }
  #unccd-logo {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 1em;
    transform: scale(0.75);
  }
  .contact-flex {
    align-items: flex-start ;
    flex-direction: column !important;
    gap: 2em;
  }
}
/* Healv3rse */
.healverse-background {
  background: linear-gradient( #002257, #460057);
  ;
}
.healverse-blocks-png {
  display: block;
  width: 100vw;
  z-index: 1;
}

/* detect when the user is on mobile */
 @media (hover:none), (hover:on-demand){ 
  .landing-background {
    background: url('../../static/images/landing-background-mobile.jpg')  no-repeat left bottom; 
    background-size: cover;
  }
  .landing-text {
    color:#222;
    margin-bottom: 5Vh;
    font-size: 6em !important;
  }
  .landing-text-hidden {
    display: none
  }
  .landing-down-arrow-mobile {
    filter: invert(0);
  }
  .desert-logo {
    background: url("../../static/images/stories.jpg") no-repeat 60% center;
  }
}
