@import "../../node_modules/tailwindcss/base";
@import "../../node_modules/tailwindcss/components";
@import "../../node_modules/tailwindcss/utilities";
 

html {
  scroll-snap-type: y proximity;

}
body {
  margin: 0;
  font-family: "Yantramanav";
}
section {
  scroll-snap-align: start;
  overflow: hidden;
}
/* This is not supported in Firefox */
::-webkit-scrollbar {
  width: 0;
}
/* Hide the default scrollbar track in Webkit browsers */
::-webkit-scrollbar-track {
  display: none;
}
.slide-content {
  padding: 0 80px;
  color: white
}
.icon {
  transform: scale(1.5);

}
.icon-white {
  filter: invert(1);
  transform: scale(1.5);
}
.video-wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: none;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  left: 0
}
.panel {
  position: relative;
  z-index: 5;
}
.panel-fixed .panel-inner {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 2 !important;
  }
.panel-fixed {
  z-index: 1
}
#unccd-logo {
  position: fixed;
  z-index: 1000;
  margin-left: 80px;
}
.carousel-item {
  width: 550px;
  height: 550px;
  flex-shrink: 0;
}
.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.filter {
  filter: grayscale(100%);
}

.carousel-arrow {
  transform: scale(3);  
  opacity: 0.5;
}
.carousel-arrow-disabled {
  opacity: 0.2;
}
.tests {
  background-image: url('../../images/Sarangerel-Mongolia.jpg');
}
.video-thumbnail-wrapper {
   overflow: hidden;
   cursor: pointer;
   position: relative;
   user-select: none;
}
.video-thumbnail-wrapper .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: scale(5);
  opacity: 0.6;
  transition: all 0.5s ease;
}
.video-thumbnail-wrapper:hover .play-button {
  transform: scale(5);
  opacity: 9;
}
.video-thumbnail-wrapper .video-thumbnail {
  transition: all 0.5s ease;
} 
.video-thumbnail-wrapper:hover .video-thumbnail {
  transform: scale(1.05);
}
.overlay {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.overlay-close {
  transform: scale(2);
  cursor: pointer;
}
#unccd-logo {
  display: none
}