@import "../../node_modules/tailwindcss/base";
@import "../../node_modules/tailwindcss/components";
@import "../../node_modules/tailwindcss/utilities";
 

html {
  scroll-snap-type: y mandatory;

}
body {
  margin: 0;
  font-family: "Yantramanav";
   /* overflow: hidden; */
}
section {
  scroll-snap-align: start;
}
/* This is not supported in Firefox */
::-webkit-scrollbar {
  width: 0;
}
/* Hide the default scrollbar track in Webkit browsers */
::-webkit-scrollbar-track {
  display: none;
}
.slide-content {
  padding: 0 80px;
  color: white
}
.icon {
  transform: scale(1.5);

}
.icon-white {
  filter: invert(1);
  transform: scale(1.5);
}
.video-wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: none;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  left: 0
}
.panel {
  position: relative;
  z-index: 5;
}
.panel-fixed .panel-inner {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 2 !important;
  }
.panel-fixed {
  z-index: 1
}
.unccd-logo {
  fill: red
}
#unccd-logo {
  position: fixed;
  z-index: 1000;
  margin-left: 80px;
}