<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HerLand</title>
  <link rel = "icon" href ="/logos/UNCCD-256.png" type = "image/x-icon">
  <!-- {{ $styles := resources.Get "css/styles.css" | toCSS | resources.PostCSS | resources.Minify | resources.Fingerprint }} -->
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  {{ partial "google-fonts" . }}

  {{ $time := now }}
  {{ $styles := resources.Get "css/styles.css"
      | toCSS
      | postCSS (dict "config" "./assets/css/postcss.config.js")
      | resources.ExecuteAsTemplate (printf "styles.%s.css" $time) $time
  }}  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  {{ end }}
</head>
<body>
  
 
 