@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

 
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow: hidden;
}
.full-height {
  min-height: 100vh
}
.icon-white {
  filter: invert(1);
}
.wrapper-404 {
  background-image: url('./static/images/landing-background.jpg');  
  /* filter: grayscale(100%); Apply black and white effect    */
}
 
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0;
}
/* Hide the default scrollbar track in Webkit browsers */
::-webkit-scrollbar-track {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
